footer {
	background-color: #222;
	color: white;
	text-align: center;
	padding: 20px 0;
}

footer p {
	margin: 0;
}

.modal-header {
	height: 45px;
}

#div-login-sign {
	max-width: 400px;
	margin: 0 auto;
}

#ul-tap {
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 5px;
	border-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#ul-tap .active {
	color: #fff;
	background-color: #428bca;
}

#ul-tap li {
	float: left;
	width: 50%;
	text-align: center;
	border-radius: 4px;
	color: rgb(42, 100, 150);
	cursor: pointer;
	font-size: 14px;
	height: 40px;
	line-height: 20px;
	padding: 10px 15px;
	position: relative;
}

#all-tap {
	position: relative;
	height: 310px;
	padding-top: 10px;
	border: 1px solid #ddd;
	border-top: 0;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -15px;
}

#tap-login,
#tap-sign_in {
	position: absolute;
	width: 100%;
}

#tap-login {}

#tap-sign_in {
	display: none;
}

#all-tap input {
	width: 80%;
	margin: 10px 10% 3px;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	height: 35px;
}

#tap-login input {
	margin: 25px 10% 3px;
}

#all-tap input[type="submit"] {
	border: 0;
	background-color: #428bca;
	color: white;
}

#all-tap p {
	margin: 0 10%;
	color: red;
	height: 20px;
}

#login-from #login-failed,
#sign-form #sign-failed {
	display: none;
	text-align: center;
	color: #a94442;
	background-color: #f2dede;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
}

#sign-form #sign-success {
	display: none;
	text-align: center;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	color: #3c763d;
	background-color: #dff0d8;
}