<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>文章</title>
		<link href="../showPage/css/article.e70e6a9d1bf8824f582c1242ee7a27be.css" rel="stylesheet"/>
	</head>

	<body>
		<div id="article"></div>
		<script type="text/javascript" src="../showPage/js/manifest.67308c764dc7dc8f7312.js"></script>
		<script type="text/javascript" src="../showPage/js/vendor.65eb7e7e852064b3ae97.js"></script>
		<script type="text/javascript" src="../showPage/js/article.a75ec5dd1afd5d61ad36.js"></script>
	</body>

</html>