<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>文章</title>
		<link href="../showPage/css/article.e70e6a9d1bf8824f582c1242ee7a27be.css" rel="stylesheet" />
	</head>

	<body>
		<div id="article"></div>
		<script type="text/javascript" src="../showPage/js/manifest.a782467b3243a8eb5f1d.js"></script>
		<script type="text/javascript" src="../showPage/js/vendor.65eb7e7e852064b3ae97.js"></script>
		<script type="text/javascript" src="../showPage/js/article.c8ed12283e277d6355c2.js"></script>
	</body>

</html>