<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lumino - Forms</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/datepicker3.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/editormd.min.css"/>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>精品课程后台管理</span></a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="form-group">
    </div>
    <ul class="nav menu">
        <li><a href="goAdminIndex"><span class="glyphicon glyphicon-dashboard"></span> 首页</a></li>
        <li><a href="goAdminUser"><span class="glyphicon glyphicon-th"></span> 用户管理</a></li>
        <li><a href="goAdminCourse"><span class="glyphicon glyphicon-stats"></span> 课程管理</a></li>
        <li><a href="goAdminSession"><span class="glyphicon glyphicon-list-alt"></span> 课程章节管理</a></li>
        <li class="active"><a href="goAdminContent"><span class="glyphicon glyphicon-pencil"></span> 内容管理</a></li>
        <li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> Alerts &amp; Panels</a></li>
        <li role="presentation" class="divider"></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">内容管理</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div style="padding-top: 10px">
                <div class="form-group">
                    <label>标题</label>
                    <input class="form-control" placeholder="标题" type="text" name="title" id="title" />
                </div>
                <div class="form-group">
                    <label>正文</label>
                    <div id="editormd">
                        <textarea style="display:none;"></textarea>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <button type="button" class="btn btn-primary" id="submit">提交</button>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        $.get('test.md', function(md){
            testEditor = editormd("editormd", {
                width: "90%",
                height: 660,
                path : 'lib/',
                markdown : md,
                codeFold : true,
                saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                searchReplace : true,
                htmlDecode : "style,script,iframe|on*", // 开启 HTML标签解析，为了安全性，默认不开启
                emoji : true,
                taskList : true,
                tocm            : true,         // Using [TOCM]
                tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart : true,             // 开启流程图支持，默认关闭
                sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "fileUpload",        //图片的上传地址
                onload : function() {
                    console.log('onload', this);
                }
            });
        });
    });
    $('#submit').on("click", function () {
        console.log($("#title").val());
        console.log(testEditor.getMarkdown());
        console.log(testEditor.getHTML());
        var dataStr = {
            "title": $("#title").val(),
            "mdContent": testEditor.getMarkdown(),
        };
        console.log(JSON.stringify(dataStr));
        $.ajax({
            type: "POST",
            url: "admin/article",
            contentType : "application/json;charset=utf-8",
            data:JSON.stringify(dataStr),
            dataType: "json",
            success: function (data) {
                alert(data);
                console.log(data);
            },
            error: function (error) {
                alert("发表失败");
            }
        });
    });
</script>
</body>

</html>
