<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>文章列表</title>
		<link href="../showPage/css/course.4c6c3e021cc601c6089c3083f235ba46.css" rel="stylesheet" />
	</head>

	<body>
		<div id="course"></div>
		<script type="text/javascript" src="../showPage/js/manifest.90f2cf33ed53ea104c2c.js"></script>
		<script type="text/javascript" src="../showPage/js/vendor.8bfd04e819a0b878b070.js"></script>
		<script type="text/javascript" src="../showPage/js/course.208e650a45ca6f4168cd.js"></script>
	</body>

</html>