<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    </meta>
    <title>编辑文章</title>
    <link rel="stylesheet" href="vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/nav_footer.css"/>
    <link rel="stylesheet" href="vendor/Editor.md/css/style.css"/>
    <link rel="stylesheet" href="vendor/Editor.md/css/editormd.css"/>
    <style>
        .my-nav {
            margin: 0 auto;
            background-color: #f8f8f8;
            border-color: #e7e7e7;
            padding: 5px 5%;
            overflow: hidden;
            margin-bottom: 20px;
        }

        .nav-left {
            float: left;
            font-size: 22px;
            color: #666;
            line-height: 42px;
        }

        .nav-right {
            float: right;
        }

        .articleTitle {
            width: 90%;
            margin: 10px auto;
        }

        .articleTitle input {
            border-radius: 0;
            height: 46px;
        }
    </style>
</head>

<body>
<nav class="my-nav">
    <div class="nav-left">
        编辑文章
    </div>
    <div class="nav-right">
        <a id="fabiao" class="btn btn-default btn-lg">发表</a>
    </div>
</nav>
<div class="articleTitle">
    <input type="text" class="form-control" placeholder="标题" aria-describedby="sizing-addon1"/>
</div>
<div id="editormd"></div>
<footer>
    <p>
        联系方式</p>
    <p>
        QQ/微信：XXXXXXXXXX</p>
    <p>
        邮箱：XXXXXXXXXX@163.com</p>
    <p>
        版权所有&#169;广州商学院14级商软1班无名小组-2017
    </p>
</footer>
<script src="vendor/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
<script src="vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="vendor/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="vendor/Editor.md/src/editormd.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        $.get('vendor/Editor.md/test.md', function (md) {
            testEditor = editormd("editormd", {
                width: "90%",
                height: 740,
                path: 'vendor/Editor.md/lib/',
                markdown: md,
                codeFold: true,
                //syncScrolling : false,
                saveHTMLToTextarea: true, // 保存 HTML 到 Textarea
                searchReplace: true,
                //watch : false,                // 关闭实时预览
                htmlDecode: "style,script,iframe|on*", // 开启 HTML 标签解析，为了安全性，默认不开启
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji: true,
                taskList: true,
                tocm: true, // Using [TOCM]
                tex: true, // 开启科学公式TeX语言支持，默认关闭
                flowChart: true, // 开启流程图支持，默认关闭
                sequenceDiagram: true, // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "fileUpload",
                onload: function () {
                    console.log('onload', this);
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();

                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                }
            });
        });
    });
    $('#fabiao').on("click", function () {
        console.log($(".articleTitle").find('input').val());
        console.log(testEditor.getMarkdown());
        console.log(testEditor.getHTML());
        var dataStr = {
            "title": $(".articleTitle").find('input').val(),
            "mdContent": testEditor.getMarkdown(),
            "htmlContent": testEditor.getHTML(),
        };
        console.log(JSON.stringify(dataStr));
        $.ajax({
            type: "POST",
            url: "admin/article",
            contentType : "application/json;charset=utf-8",
            data:JSON.stringify(dataStr),
            dataType: "json",
            success: function (data) {
                alert("发表成功");
            },
            error: function (error) {
                alert("发表失败");
            }
        });
    });
</script>
</body>

</html>